@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 62%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
html {
  font-size: 62.5%;
}

.first_layer {
  background-color: #FFFF64;
}

.first_layer .wrapper {
  width: 99%;
  padding: .5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.humburger {
  display: none;
}

.menu_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: all .5s ease;
  margin: 0 auto;
}

.menu_btn_hamburger {
  width: 2.5rem;
  height: .5rem;
  border-radius: .3rem;
  background-color: #000000;
  text-indent: -999rem;
  box-shadow: 0 .1rem .3rem #00000080;
  transition: all .5s ease-in-out;
}

.menu_btn_hamburger::before, .menu_btn_hamburger::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 2.5rem;
  height: .5rem;
  border-radius: .2rem;
  background-color: #000000;
  box-shadow: 0 .1rem .3rem #00000080;
  transition: all .5s ease-in-out;
}

.menu_btn_hamburger::before {
  transform: translate(-50%, -.8rem);
}

.menu_btn_hamburger::after {
  transform: translate(-50%, .8rem);
}

.menu_btn.open .menu_btn_hamburger {
  transform: translateX(-1rem);
  background: transparent;
  box-shadow: none;
}

.menu_btn.open .menu_btn_hamburger::before {
  transform: rotate(45deg) translate(.1rem, -.1rem);
}

.menu_btn.open .menu_btn_hamburger::after {
  transform: rotate(-45deg) translate(.1rem, .1rem);
}

input::placeholder {
  font-size: 1.1rem;
}

input:focus {
  outline: none;
}

.search_lyrics {
  position: relative;
}

.search_lyrics::before {
  position: absolute;
  top: 50%;
  right: .3rem;
  color: #131212;
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  font-weight: 900;
  pointer-events: none;
  vertical-align: middle;
  transform: translateY(-50%);
}

.search_lyrics input {
  width: 15rem;
  padding: .2rem .3rem;
  border: .2rem solid transparent;
}

.search_lyrics input:hover {
  border: .2rem solid #000000;
}

.search_lyrics input::placeholder {
  color: #000000;
  font-weight: 700;
}

.title {
  position: relative;
  top: -.2rem;
}

.title a {
  color: #FFFF64;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: .2rem;
  text-shadow: -.2rem .2rem #000000;
  text-transform: uppercase;
  transition: all .5s ease;
}

.title a:hover {
  transform: scale(1.2);
}

.auth {
  padding-right: .8rem;
}

.auth a {
  color: #000000;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .5s ease;
}

.auth a+a {
  padding-left: 1rem;
}

.auth a:hover {
  transform: scale(1.2);
}

nav {
  background-color:  #000000;
}

.nav_items {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.nav_items li:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_items a {
  color: #ffffff;
}

.nav_items > li {
  position: relative;
}

.nav_items > li + li::before {
  position: absolute;
  top: 50%;
  left: 0;
  color: #ffffff;
  content: "|";
  transform: translateY(-60%);
}

.nav_links {
  padding: 1rem 3rem;
}

.nav_links:hover {
  text-decoration: underline;
}

.social_media {
  padding: 0 1rem;
}

.social_media li {
  margin: 0 1rem;
}

.facebook {
  text-indent: -9999rem;
}

.facebook::before {
  border-radius: 50%;
  float: right;
  content: "\f39e";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.twitter {
  text-indent: -9999rem;
}

.twitter::before {
  border-radius: 50%;
  float: right;
  content: "\f099";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.instagram {
  text-indent: -9999rem;
}

.instagram::before {
  border-radius: 50%;
  float: right;
  content: "\f16d";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.youtube {
  text-indent: -9999rem;
}

.youtube::before {
  border-radius: 50%;
  float: right;
  content: "\f167";
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  text-indent: 0;
  vertical-align: middle;
}

.facebook:hover::before, .twitter:hover::before, .instagram:hover::before, .youtube:hover::before {
  color: #FFFF64;
}

.nav_auth {
  display: none;
}

.search_lyrics_mobile {
  display: none;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.news {
  padding-top: 5%;
}

.headline_news {
  display: flex;
  justify-content: space-between;
}

.headline_news > div:nth-child(1) {
  width: 40%;
}

.headline_news > div:nth-child(2) {
  width: 55%;
}

.headline_news figure {
  height: 30rem;
}

figure img {
  width: 100%;
  height: 100%;
}

.headline_news h2, .latest h3 {
  box-shadow: 0 .05rem #00000048;
  border-bottom: .1rem solid #000000;
  line-height: .05rem;
  margin-bottom: 1.5rem;
}

.headline_news h2 span, .news_tag {
  position: relative;
  top: .2rem;
  background: #ffffff;
  font-size: .8rem;
  font-weight: 700;
  padding-right: 1rem;
  text-transform: uppercase;
}

.headline_news h3 a {
  color: #000000;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.headline_news h3 a:hover {
  text-decoration: underline;
}

.news_caption {
  padding: .5rem 0;
  display: block;
  font-weight: 700;
}

.news_by {
  padding-top: .4rem;
  font-size: .9rem;
}

.author {
  color: #000000;
}

.author:hover {
  text-decoration: underline;
}

.symbol::after {
  content: "\f06c";
  font-family: "Font Awesome 5 Free";
  font-size: .9rem;
  font-weight: 900;
}

.news_by .dates::before {
  color: #000000;
  content: '/';
  font-weight: 800;
}

.dates {
  color: #808080;
}

.extra_news {
  padding: 4% 0;
  display: flex;
  justify-content: space-between;
}

.extra_news li {
  width: 20%;
  position: relative;
}

.extra_news li:not(:nth-child(1))::before {
  width: .1rem;
  height: 100%;
  position: absolute;
  left: -17%;
  background-color: #000000;
  box-shadow: -.1rem 0 #00000069;
  content: '';
}

.news_tag {
  padding-bottom: .4rem;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.extra_news h4 {
  height: 15rem;
}

.extra_news h4 a {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.extra_news h4 a:hover {
  text-decoration: underline;
}

.extra_news .news_by {
  padding-bottom: .5rem;
}

.extra_news figure {
  height: 9rem;
}

.charts {
  padding: 3% 0
}

.section_heading {
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.section_sub_heading {
  padding: 1% 0 4%;
  display: block;
  color: #FF4C79;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.song_filter {
  text-align: center;
}

.song_filter select {
  padding: .5rem;
  border: .2rem solid #000000;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.charts form {
  padding-bottom: 5%;
}

.song_list {
  padding: .8rem 0;
  border-bottom: .2rem solid #8080802f;
  display: flex;
  align-items: center;
}

.song_list li:first-child {
  width: 5%;
}

.song_list li:nth-child(2) {
  width: 7%;
}

.song_list li:nth-child(3), .song_list li:nth-child(4) {
  width: 35%;
}

.song_list li:nth-child(5), .song_list li:nth-child(6) {
  width: 8%;
}

.sr, .song_name, .artist_name {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}

.song_name:hover, .artist_name:hover {
  text-decoration: underline;
}

.song_lyrics_available {
  color: #808080;
  font-size: .9rem;
  text-transform: uppercase;
}

.song_poster {
  width: 4rem;
  height: 4rem;
}

.song_performance, .song_views {
  font-size: .8rem;
  font-weight: 600;
}

.song_performance {
  color: #FF2771;
}

.song_performance::before {
  content: "\f06d";
  font-family: "Font Awesome 5 Free";
  font-size: 1.2rem;
  font-weight: 900;
}

.song_views::before {
  padding-right: .5rem;
  content: "\f06e";
  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
}

.empty_list {
  opacity: 0;
}

.community {
  padding-bottom: 4%;
}

.load_more, .community_links a {
  padding-top: 2%;
  text-align: center;
}

.load_more a, .community_links a {
  padding: .7rem 1.7rem;
  border: .2rem solid #000000;
  color: #000000;
  text-transform: uppercase;
}

.load_more a:hover, .community_links a:hover {
  background-color: #000000;
  color: #ffffff;
}

.videos {
  padding: 4% 0;
  background-color: #000000;
}

.trending_video {
  display: flex;
  justify-content: space-between;
}

.trending_video > div:nth-child(1) {
  width: 76%;
  height: 34.5rem;
}

.trending_video > div:nth-child(2) {
  width: 20%;
  padding-top: .5rem;
  border-top: .2rem solid #ffffff;
}

.trending_video h3 a, .remaining_news h4 a {
  padding: 2% 0;
  color: #ffffff;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.trending_video h3 a:hover, .remaining_news h4 a:hover {
  text-decoration: underline;
}

.video {
  width: 100%;
  height: 100%;
  position: relative;
}

.play_btn {
  position: absolute;
  right: 5rem;
  bottom: 3.5rem;
  text-indent: -9999rem;
}

.play_btn::before {
  padding: 1rem 1.2rem;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  content: "\f04b";
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  text-indent: 0;
}

.music_production {
  height: 2rem;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.videos .author {
  color: #ffffff;
}

.videos .news_by .dates::before {
  color: #ffffff;
  content: '/';
  font-weight: 800;
}

.videos .load_more a {
  border: .2rem solid #ffffff;
  color: #ffffff;
}

.videos .load_more a:hover {
  background-color: #ffffff;
  color: #000000;
}

.videos_sub_heading {
  padding: .2rem 0 .5rem;
  display: block;
  color: #ffffff;
  font-size: 1.1rem;
}

.videos .section_heading {
  color: #ffffff;
}

.videos .section_sub_heading {
  color: #FFFF64;
}

.remaining_news {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.remaining_news > li {
  width: 22%;
  padding-top: .5rem;
  border-top: .3rem solid #ffffff;
}

.remaining_news .video {
  height: 10rem;
}

.remaining_news h4 {
  height: 7rem;
}

.latest {
  padding: 4% 0;
}

.most_recent_news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest h3 {
  margin-bottom: .9rem;
}

.most_recent_news > li {
  width: 22%;
  margin-bottom: 2rem;
}

.extra_news_image, .most_recent_news .video {
  height: 10rem;
}

.most_recent_news h4 {
  padding: .5rem 0 1.5rem;
}

.most_recent_news h4 a {
  color: #000000;
  font-size: 1.35rem;
  font-weight: 600;
}

.most_recent_news h4 a:hover {
  text-decoration: underline;
}

.community_links {
  padding-bottom: 4%;
  text-align: center;
}

.community_links a + a {
  margin-left: 2rem;
}

.community ul {
  padding: .4rem 0;
  border-bottom: .2rem solid #8080802c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community ul > li:nth-child(1) {
  width: 7%;
}

.community ul > li:nth-child(2) {
  width: 81%;
  display: flex;
}

.community ul > li:nth-child(3) {
  width: 12%;
  text-align: right;
}

.community_sub_heading {
  width: 50%;
  margin: 0 auto;
}

.community_table_head li {
  font-weight: 600;
  text-transform: uppercase;
}

.community_table_body figure, .community_table_body figure img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.iq_earned {
  color: #FF4C79;
}

.user {
  padding: .6rem .5rem;
}

.user a, .user span {
  display: block;
}

.user_name {
  color: #000000;
  font-size: 1.5rem;
}

.user_name:hover {
  text-decoration: underline;
}

.user span {
  padding-top: .2rem;
  position: relative;
  color: #808080;
  font-size: .8rem;
  text-transform: uppercase;
}

.moderator::after {
  width: .35rem;
  height: .35rem;
  border: .1rem solid #000000;
  margin-left: .5rem;
  position: absolute;
  background-color: #7689E8;
  content: "";
  transform: rotate(45deg);
}

.editor::after {
  width: .5rem;
  height: .5rem;
  border: .1rem solid #000000;
  margin-left: .5rem;
  position: absolute;
  background-color: #FFFF64;
  content: "";
}

.contributor::after {
  padding-left: .3rem;
  color: #000000;
  content: "\f0d8";
  font-family: "Font Awesome 5 Free";
  font-size: 1.4rem;
  font-weight: 900;
  vertical-align: middle;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer_section_1 {
  background-color: #000000;
}

.footer_section_1 .wrapper {
  padding: 2.5% 0;
  display: flex;
}

.col_1 {
  width: 45%;
}

.col_2, .col_3 {
  width: 17%;
  margin-left: 7%;
}

.col_1 h3 {
  color: #ffffff;
  font-size: 2.5rem;
}

.social_media_handles {
  padding: 5% 0;
}

.social_media_handles a {
  color: #ffffffcc;
  font-size: 1.5rem;
}

.social_media_handles li+li a {
  margin-left: 2rem;
}

.org_description li {
  padding-bottom: 1rem;
  display: block;
}

.org_description a {
  color: #ffffff;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.org_description a:hover {
  text-decoration: underline;
}

.footer_section_1 span {
  padding-top: 1.5rem;
  display: block;
  color: #ffffff56;
  font-size: .9rem;
}

.footer_section_2 {
  margin-top: .2rem;
  background-color: #000000;
}

.footer_section_2 .wrapper {
  padding: 1.5% 0 1%;
  display: flex;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer_section_2 a {
  color: #ffffff;
}

.footer_section_2 a:hover {
  text-decoration: underline;
}

.all_artist {
  margin-left: 15%;
  display: flex;
}

.artist_as_per_letter {
  padding-left: 1.5rem;
}

.artist_as_per_letter li + li {
  padding-bottom: 1rem;
  margin-left: .5rem;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1200px starts here*/
@media only screen and (max-width: 1200px) {
  html { font-size: 55%; }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }

  .search_lyrics {
    display: none;
  }

  .auth {
    display: none;
  }

  .search_lyrics_mobile {
    display: block;
    text-indent: -9999rem;
  }

  .search_lyrics_mobile::before {
    padding-left: 2rem;
    float: right;
    color: #000000;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-size: 2rem;
    font-weight: 900;
    text-indent: 0;
  }

  .humburger {
    padding-right: 2rem;
    display: block;
  }

  .title a {
    font-size: 2rem;
  }

  .remaining_news h4 {
    height: 12rem;
  }

  .navigation {
    height: 0rem;
    z-index: 1;
    transition: all .5s ease;
  }

  .nav_items {
    display: none;
    transition: all .5s ease;
  }

  .nav_items li {
    padding: 2rem 0;
  }

  .nav_items > li + li::before {
    content: none;
  }

  .nav_items {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .facebook::before, .twitter::before, .instagram::before, .youtube::before {
    font-size: 2rem;
  }

  .nav_auth {
    display: block;
  }

  .nav_auth a {
    padding: 1rem 3rem;
    border: .1rem solid #ffffff;
  }

  .social_media li {
    margin: 0 2rem;
  }

  .nav_auth a + a {
    margin-left: 1rem;
  }

  .nav_open {
    height: 50rem;
  }

  .nav_items_display {
    display: flex;
  }
}

/*media query for 1200px starts here*/
@media only screen and (max-width: 844px) {
  html {
    font-size: 45%;
  }

  .extra_news h4 {
    height: 20rem;
  }

  .extra_news .news_by {
    height: 3rem;
  }

  .song_poster {
    width: 3rem;
    height: 3rem;
  }

  .sr, .song_name, .artist_name {
    font-size: 1rem;
  }

  .song_list {
    justify-content: space-between;
  }

  .song_list li:nth-child(2) {
    display: none;
  }

  .song_views::before {
    padding-right: unset;
  }

  .song_list li {
    width: 19%;
  }
}

/*media query for 563px starts here*/
@media only screen and (max-width: 563px) {
  .wrapper {
    width: 80%;
  }

  .headline_news {
    flex-direction: column;
  }

  .headline_news > div:nth-child(1), .headline_news > div:nth-child(2) {
    width: 100%;
  }

  .extra_news {
    flex-wrap: wrap;
  }

  .extra_news li {
    width: 100%;
    padding-top: 2rem;
  }

  .extra_news li:not(:nth-child(1))::before {
    content: none;
  }

  .extra_news h4 {
    height: auto;
  }

  .extra_news figure {
    height: 25rem;
  }

  .news_by {
    font-size: 1.1rem;
  }

  .trending_video {
    flex-wrap: wrap;
  }

  .trending_video > div:nth-child(1), .trending_video > div:nth-child(2) {
    width: 100%;
  }

  .remaining_news {
    flex-wrap: wrap;
  }

  .remaining_news li {
    width: 100%;
  }

  .remaining_news .video {
    height: 25rem;
  }

  .remaining_news h4 {
    height: auto;
  }

  .most_recent_news {
    flex-wrap: wrap;
  }

  .most_recent_news > li {
    width: 45%;
  }

  .extra_news_image, .most_recent_news .video {
    height: 10rem;
  }

  .community_links a {
    display: block;
    margin-bottom: 2rem;
  }

  .community_links a + a {
    margin-left: 0;
  }

  .load_more a, .community_links a {
    display: block;
  }

  .footer_section_1 .wrapper {
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col_1, .col_2, .col_3 {
    width: 100%;
    text-align: center;
  }

  .col_2, .col_3 {
    padding-bottom: 2rem;
    position: relative;
    left: -3%;
    text-align: center;
  }

  .col_1 h3 {
    width: 50%;
    margin: 0 auto;
  }

  .social_media_handles {
    display: flex;
    position: relative;
    justify-content: center;
  }

  .org_description li {
    padding: 3rem 0;
  }

  .org_description li a {
    font-size: 1.5rem;
  }

  .footer_section_1 span {
    font-size: 1.3rem;
  }

  .footer_section_2 .wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer_section_2 h4 {
    margin-top: 2rem;
  }

  .footer_section_2 h4 a {
    font-size: 2rem;
  }

  .all_artist {
    margin: 3rem 0 0;
    flex-direction: column;
  }

  .artist_as_per_letter {
    padding-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .artist_as_per_letter li {
    width: 25%;
  }

  .artist_as_per_letter a {
    font-size: 2rem;
  }

  .artist_as_per_letter li + li {
    padding-bottom: 3rem;
    margin-left: 0;
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  .humburger {
    -webkit-tap-highlight-color: transparent;
  }

  /*Disable All Hover Start*/
  .search_lyrics input:hover {
    border: unset;
  }

  .title a:hover {
    transform: unset;
  }

  .auth a:hover {
    transform: unset;
  }

  .nav_links:hover {
    text-decoration: unset;
  }

  .facebook:hover::before, .twitter:hover::before, .instagram:hover::before, .youtube:hover::before {
    color: unset;
  }

  .headline_news h3 a:hover {
    text-decoration: unset;
  }

  .author:hover {
    text-decoration: unset;
  }

  .extra_news h4 a:hover {
    text-decoration: unset;
  }

  .song_name:hover, .artist_name:hover {
    text-decoration: unset;
  }

  .load_more a:hover, .community_links a:hover {
    background-color: unset;
    color: unset;
  }

  .trending_video h3 a:hover, .remaining_news h4 a:hover {
    text-decoration: unset;
  }

  .videos .load_more a:hover {
    background-color: unset;
    color: unset;
  }

  .most_recent_news h4 a:hover {
    text-decoration: unset;
  }

  .user_name:hover {
    text-decoration: unset;
  }

  .org_description a:hover {
    text-decoration: unset;
  }

  .footer_section_2 a:hover {
    text-decoration: unset;
  }
  /*Disable All Hover End*/
}